<!-- <div class="container-fluid"> -->
    <div class="row">
      
        <div class="col-xs-3">
            <i style="font-size:60px" class="bi bi-tsunami"></i>
        </div>
        <div class="col-xs-6">
            <h1 style="font-weight: 400; font-size: 30px">{{ riverLevel }} ft</h1>
            <h6>RIVER LEVEL:</h6>
        </div>
        <div class="col-xs-3">
            <i style="font-size:60px" class="bi bi-water"></i>
        </div>
        <!-- <canvas id="riverChart"></canvas> -->
        <!-- <div class="col-xs-2">
            
        </div> -->
    </div>
<!-- </div> &#160;-->

