.row {
    font-family: Helvetica Neue;
    /* align-items: center; */
    /* padding: 1em; */
    margin: unset;
    vertical-align: middle;
    border: solid slategrey;
}

/* .riverData {
    display: flexbox;
} */

h1 {
    font-weight: 300;
}

.col-xs-3 {
    border: 1px solid rgba(0, 0, 0, 0.568);
}

.col-xs-6 {
    border: 1px solid rgba(0, 0, 0, 0.568);
}