
<div class="artifact-links">
    <h5>Research Links:</h5>
    <a *ngFor="let link of researchLinks; let i = index"
  style="cursor: pointer;"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ link.title }}</h4>
    <p class="list-group-item-text">{{ link.description }}</p>
  </div>
  <span class="pull-right">
        <img
          [src]="link.imagePath"
          alt="{{ link.title }}"
          class="img-responsive"
          style="max-height: 50px">
      </span>
</a>

</div>
