.pull-left {
    margin-right: 20px;
}

.artifact-links {
    padding: 20px;
    max-width: 80vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.artifacts {
    display: flexbox;
    width: 30vw;
    /* outline: solid 1px; */
}

.nativeAmericanArtifacts {
    display: flexbox;
    width: 30vw;
    /* outline: solid 1px; */
}

.cleaning {
    display: flexbox;
    width: 30vw;
    /* outline: solid 1px; */
}

.archiving {
    display: flexbox;
    width: 30vw;
}

.artifacts-gallery {
    margin: 0 2em;
}

.add {
    margin-right: 1.4em;
} 

.add:hover {
    cursor: pointer;
    opacity: 0.308;
}

.edit-icons {
    display:flexbox;
    position: relative;
}

.edit {
    outline-offset: 0.3em;
}

.edit:hover {
    cursor: pointer;
    opacity: 0.308;
}

img {
    height: 1.6em; 
 }

 .subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.2em 0 0 0.5em;
}