<div>
    <h3>profile!</h3>
    <p>
        <em>Ancestry.com for objects [+pinterest]</em>
    </p>
    <h4>Ideal: </h4>

    <ul>
        <h5>A profile with username and password</h5>
        <li>an option for private/ public</li>
        <li>Allow users to track:</li>
            <ul>
                <li>excursions</li>
                <li>finds</li>
                <li>research</li>
            </ul>
        <li>This page:</li>
            <ul>
                <li>Bio-info</li>
                <li>Picture</li>
                <li>location</li>
                <li>excursion log</li>
                <li>list of collections</li>
            </ul>
    </ul>
</div>
