/* img {
    height: 20vw;
    margin: 1vh;
} */

/* .artifact-thumbnail {
    height: 20vw;
    width: 15vw;
    background-image: url(".././../../../assets/keys/key-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

} */

.collection-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.collection-preview {
    text-align: center;
    color: rgba(104, 104, 104, 0.575);
    display: flexbox;
    
    width: max-content;
    outline: solid 1px;
    padding: 0.8em;
    margin: 1em;
}


