.excursion-page {
    display: flex;
    position: relative;
    flex-direction: row;
    /* outline: solid; */
    justify-content: space-around;
    width: 100%;
}

.conditions {
    display: flexbox;
    margin: 2em;
    border: 1px solid;
    /* background-color:white; */
    color: rgba(0, 0, 0, 0.308) ;
}

.excursion-table {
    margin: 2em;
    border: 1px solid;
}

/* img {
    width: 150px;
} */

.add {
    margin-right: 1.4em;
} 

.add:hover {
    cursor: pointer;
    opacity: 0.308;
}

.edit-icons {
    display:flexbox;
    position: relative;
}

.edit {
    outline-offset: 0.3em;
}

.edit:hover {
    cursor: pointer;
    opacity: 0.308;
}

img {
    height: 1.6em; 
 }

 .subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.2em 0 0 0.5em;
}

.row {
    outline: solid 1px;
    padding: 5px;
}

