nav {
    font-family: 'Helvetica Neue';
    outline: 1px solid rgba(0, 0, 0, 0.308);
    border: none;
    background: none;
    padding: 1vh 1vh 1vh 3vh;
    transition: all 0.3s;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.521);
    font-size: 2em; 
    padding-left: .5em;
}

input {
    /* width: 20vw; */
    /* line-height: 18px; */
    border: 1px solid rgba(0, 0, 0, 0.664);
    border-radius: 0%;
}



i {
    font-size: large;
    padding-right: 0.4em;
}

button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

button:focus {
    outline: white;
}

img {
    height:0.6em;

}

img:hover {
    cursor: pointer;
}


