<nav class="navbar navbar-default">
    <div class="container-fluid">
<!-- Header LEFT -->
        <div class="navbar-header navbar-left">
            <a class="navbar-brand">
                <img (click)="onToggle($event)" 
                    role="button" 
                    src="/assets/menu.png" 
                    alt="menu button">
            </a> 
            <a class="navbar-brand" 
                style="padding-left:1em" 
                routerLink="/home">ARTIFACTS ARCHIVE
            </a> 
        </div>
<!-- Header RIGHT -->
        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="search">
                <button (click)="openSearch=!openSearch" data-toggle="collapse" data-target="#searchBar" type="submit">
                    <i id="search" class="bi bi-search"></i>
                </button>
                <div *ngIf="openSearch" id="searchBar" class="form-group">
                    <input type="text" class="form-control">
                </div>  
                <!-- <button type="submit" data-toggle="collapse" data-target="#searchBar">
                    <i id="search" class="bi bi-search"></i>
                </button>
                <div id="searchBar" class="collapse-in">
                    <input type="text" class="form-control">
                </div>  -->
            </form>
         </div>
           
    </div>
</nav>
