<div class="container-fluid">
  
    <h4>Collections:</h4>
    <div class="collections-gallery">

    <!-- insert collection-previews here -->
        <div class="collection-preview">
            <a routerLink="/artifact-profile">
                <div class="collection-thumbnail"></div>
                <h4>Marbles<span class="badge">1</span></h4>
            </a>
        </div>

        <div class="collection-preview">
            <a routerLink="/artifact-profile">
                <div class="collection-thumbnail"></div>
                <h4>Spoons<span class="badge">1</span></h4>
            </a>
        </div>

    </div>
</div>
