.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    display: flexbox; 
    position: relative;
    bottom: 0px;
    min-width: 200px;
    max-width: 200px;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0);
    margin-top: -19px;
    background: rgba(0, 0, 0, 0.308);
    color: rgb(255, 255, 255);
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* @media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
} */

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul.components {
    padding: 2em 0;
}

#sidebar ul {
    color: #fff;
    padding: 1em;
}

#sidebar ul li a {
    padding: 0.8em;
    font-size: 1.1em;
    display: block;
}
/* #sidebar ul li a:hover {
    color: #bdbdbd;
    background: rgba(255, 255, 255, 0.336);
} */

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6e6e6e8c;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 3.3em !important;
}

hr {
    margin: 0;
}

.profile-image {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    width: 2.8em;
    margin: 0.4em .5em 0.5em 0.4em;
    
}

.profile-bar {
    display: flex;
    position: fixed;
    bottom: 0px;
    border-top: solid white;
    width: 200px;
    background-color: rgba(48, 48, 48, 0.87);

}