<div class="container-fluid">
    <div class="artifact-info-container">
        <!-- <div> -->
            <img class="main-image" src="../../../../../assets/keys/key-3.jpg" alt="clock key">
        <!-- </div> -->
        <div class="artifact-info">

            <div>
                <h4 class="title">Clock Winding Key</h4>
            </div>

            <div class="artifact-info">
                <table>
                    <tr>
                        <td>Collection:</td><td>Keys</td>
                    </tr>
                    <tr>
                        <td>Year:</td><td>c. 1890 - 1930</td>
                    </tr>
                        <td>Material:</td><td>Brass</td>
                    <tr>
                    </tr>
                        <td>Logos:</td><td></td>
                    <tr>
                    </tr>
                    <tr>
                        <td>Keywords:</td><td></td>
                    </tr>
                </table>
                <ul>
                    saved links:
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="more-images">
        <h4>additional images</h4>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>

</div>