<div class="container-fluid">
    <div class="artifact-info-container">
        <!-- <div> -->
            <img class="img-responsive" 
            [src]="artifact.imagePath" 
            alt="{{ artifact.name }}">
        <!-- </div> -->
        <div class="artifact-info">

            <div>
                <h4 class="title">{{ artifact.name }}</h4>
            </div>

            <div class="artifact-info">
                <table>
                    <tr>
                        <td>Collection:</td><td>{{ artifact.collection }}</td>
                    </tr>
                    <tr>
                    <td>Year:</td><td>{{ artifact.year }}</td>
                    </tr>
                        <td>Material:</td><td>{{ artifact.material }}</td>
                    <tr>
                    </tr>
                        <td>Description:</td><td>{{ artifact.description }}</td>
                    <tr>
                    </tr>
                    <tr>
                        <td>Keywords:</td><td></td>
                    </tr>
                </table>
                <ul>
                    saved links:
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="more-images">
        <h4>additional images</h4>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </div>

</div>