
<table class="table">

    <thead>
        <tr>
            <th colspan="4"><h4>Current Conditions</h4></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="1" scope="row"><h6>Location: </h6></td>
            <td colspan="3"><h5>{{ weather?.location.name }}, {{ weather?.location.region }}</h5></td>
        </tr>
        <tr>
            <td colspan="1" scope="row"><h6>Date: </h6></td>
            <td colspan="3"><h5>{{ weather?.location.localtime | date }}</h5></td>
            
        </tr>
        <tr>
            <td colspan="1"><h6>Time: </h6></td>
            <td colspan="3"><h5>{{ weather?.location.localtime | date:'shortTime'}}</h5></td>
            
        </tr>
        <tr>
            <td colspan="1"><h6>Temp:</h6> </td>
            <td colspan="3"><h5>{{ weather?.current.temp_f }} F</h5></td>
        </tr>
        <tr>
            <td colspan="1"><h6>Feels Like:</h6></td>
            <td colspan="3"><h5>{{ weather?.current.feelslike_f }} F</h5></td>
        </tr>
        <tr>
            <td ><h6>Conditions: </h6></td>
            <td colspan="3"><h5>{{ weather?.current.condition.text }}</h5></td>
            
        </tr>
        <tr>
            <td ><h6>River Level: </h6></td>
            <td colspan="3">Coming Soon</td>
          
        </tr>
    </tbody>
</table>


    <!-- <p>Sunrise: {{ forecast?.forecastday?.astro?.sunrise }}</p> -->
    <!-- <p>Sunset: {{ forecast?.forecast?.forecastday?.astro?.sunset }}</p> -->
