<div class="container-fluid">
  
    <h4>{{ collection.name }}:</h4>
</div>

<div class="artifacts-gallery">

    <div class="artifact-thumbnail"></div>
    <div class="artifact-thumbnail"></div>
    <div class="artifact-thumbnail"></div>
    <div class="artifact-thumbnail"></div>
    <div class="artifact-thumbnail"></div>
    <div class="artifact-thumbnail"></div>
    <div class="artifact-thumbnail"></div>
    <div class="artifact-thumbnail"></div>
    <div class="artifact-thumbnail"></div>
    <div class="artifact-thumbnail"></div>


    <!-- insert collection-previews here -->
     <!-- <div> -->

    <!-- </div> --> 
        <!-- <div class="collection-preview"> -->
            <!-- <a [routerLink]="[index]"> -->
                <!-- <div class="artifact-thumbnail"></div> -->
               
            <!-- </a> -->
        <!-- </div> -->
        <!-- <app-collections></app-collections> -->


</div> 


