<!-- <div class="container-fluid"> -->
    <h4>Collection: </h4>
    <div class="artifacts-gallery">
        <div class="subheader">
            <div class="collection-name">
               
               <h2>{{ collection.name }}</h2>
                
            </div>
            <div class="edit">
                <a (click)="onEditCollection()">
                    <img src="assets/icons/icon-edit_24px.svg">
                </a>
            </div>
        </div>
    
        <div class="artifact-gallery">
        <!-- insert artifact images here -->
            <app-artifact
                *ngFor="let item of collection.artifacts; let i = artifactIndex;"
                [artifact]="item"
                [artifactIndex]="i"
                ></app-artifact>
        </div> 
       
    </div>
 

<!-- </div> -->


<!-- <div class="container-fluid">
    <div class="collection-gallery">
 
        <app-collection-preview 
            *ngFor="let collectionPreview of collections; let i = index"
            [collection]="collectionPreview"
            [index]="i"></app-collection-preview>
  
     </div>
</div> -->

