img {
   height: 1.6em; 
}

.collection-name {
    display:flexbox;
    font-family: helvetica;

}

h4 {
    font-family: COURIER;
    color:rgba(85, 85, 85, 0.671);
}

.edit-icons {
    display:flexbox;
    position: relative;
}

.edit {
    outline-offset: 0.3em;
}

.edit:hover {
    cursor: pointer;
    opacity: 0.308;
}

.add {
    margin-right: 1.4em;
} 

.add:hover {
    cursor: pointer;
    opacity: 0.308;
}

.subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.2em 0 0 0.5em;
}

/* .artifact-thumbnail {
    height: 20vw;
    width: 15vw;
    background-image: url(".././../../../assets/keys/key-7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

} */

/* .artifact-preview {
    text-align: center;
    color: rgba(104, 104, 104, 0.575);
    display: flexbox;
    width: max-content;
    outline: solid 1px;
    padding: 0.8em;
    margin: 1em;
} */


.artifact-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artifacts-gallery {
    margin: 0 2em;
}