<h3>Home Page</h3>
<div class="home-page"> 
<!-- <div id="content"> -->

            
            <!-- <a href="#">Updates <span class="badge">2</span></a> -->
            <div class="conditions">
                <app-river-level></app-river-level>
             </div>
   

           <app-research></app-research>
</div>
            <!-- <div class="collections">
                <h5>Recently Added:</h5>
                <app-collection-gallery></app-collection-gallery>
            </div> -->
  
<!-- </div> -->
