<h3>Home Page</h3>
<div class="home-page"> 
<!-- <div id="content"> -->

            
            <!-- <a href="#">Updates <span class="badge">2</span></a> -->
            <div class="conditions">
                <app-river-level></app-river-level>
             </div>
   

            <div class="card">
                <ul>
                    <h4>Saved Links:</h4>
                    <li>Bottles:</li>
                        <ul>
                            <a href="#" target="_blank">Bottles</a>
                        </ul>
                    <li>Native American Artifacts:</li>
                        <ul> 
                            <li><a href="https://www.missouriarchaeologicalsociety.org/collecting-and-identifying-artifacts/identification-resources/" target="_blank">Missouri Archeological Society</a></li>
                            <li><a href="https://archaeology.uiowa.edu/bone-tools-0">Bone Tools</a></li>
                        </ul>
                    <li>Pottery:</li>
                    <ul>
                        <a href="http://www.asiaticpheasants.co.uk/makersmarks.html" target="_blank">Transferware</a>
                    </ul>
                        
                </ul>
            </div>

</div>
            <!-- <div class="collections">
                <h5>Recently Added:</h5>
                <app-collection-gallery></app-collection-gallery>
            </div> -->
  
<!-- </div> -->
