.conditions {
    background-color: rgba(177, 177, 177, 0.226);
    display: flexbox;
    min-width: 350px;
    max-width: 100%;
    /* width: 51vw;   */
}

i {
    margin: 0.3em;
}

img {
    height: 1.6em; 
}
 
.component-title {
    display:flexbox;
    font-family: Helvetica neue;
}
 
h4 {
    font-family: COURIER;
    color:rgba(85, 85, 85, 0.671);
 }
 
.header-icons {
    display:flexbox;
    position: relative;
}
 
.page-info{
    margin-right: 1.4em;
} 
 
.page-info:hover {
    cursor: pointer;
    opacity: 0.308;
}
 
.subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.2em 0 0 0.5em;
}

 .home-page {
     margin: 1em 3em;
 }

 #infoModal {
     background-color: rgba(0, 0, 0, 0.5);
     /* animation-name: fade; */
     transition: all 0.3s;
 }

 /* @keyframes {} */