<div class="container-fluid">
    <div class="subheader">
        <h4>Home Page: </h4>  
        <div class="header-icons">
            <button class="btn btn-success"
                type="button"
                data-toggle="modal"
                data-target="#infoModal"
               onclick="document.getElementById('infoModal').style.display='block'" >
                <img src="assets/icons/info-outline.svg">
        </button>
        <div
                            
                            class="modal"
                            id="infoModal">

                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Modal Heading</h4>
                                            <button
                                                type="button"
                                                class="close"
                                                data-dismiss="modal">&times;</button> 
                                    </div>
                                    <div class="modal-body">
                                        Add chance of rain to weather component.
                                    </div>
                                    <div class="modal-footer">
                                        <button 
                                        onclick="document.getElementById('infoModal').style.display='none'"
                                            type="button" 
                                            class="btn btn-secondary" 
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
        </div>
    </div>
    <div class="component-title">               
        <h3>Current Conditions</h3>   
    </div>             
    <div class="conditions">
        <app-current-conditions></app-current-conditions>
    </div>    
</div>

 
<!-- <div >
    <h3>
        Weather: <br>
        <i class="bi bi-cloud-lightning"></i>
        <i class="bi bi-cloud-drizzle"></i>
        <i class="bi bi-cloud-drizzle-fill"></i>
        <i class="bi bi-moisture"></i>
        <i class="bi bi-wind"></i>
        <i class="bi bi-water"></i>
        <i class="bi bi-tsunami"></i>
        <i class="bi bi-thermometer"></i>
        <i class="bi bi-thermometer-half"></i>
        <i class="bi bi-thermometer-high"></i>
        <i class="bi bi-thermometer-low"></i>
        <i class="bi bi-thermometer-snow"></i>
        <i class="bi bi-thermometer-sun"></i>
                
        <br>
        Time: <br>
        <i class="bi bi-moon"></i>
        <i class="bi bi-moon-stars"></i>
        <i class="bi bi-mask"></i>
        <i class="bi bi-brightness-alt-high"></i>
        <i class="bi bi-brightness-alt-high-fill"></i>
        <i class="bi bi-brightness-high"></i>
        <i class="bi bi-brightness-high-fill"></i>

        <i class="bi bi-calendar-event"></i>
        <i class="bi bi-calendar4-event"></i>
        <i class="bi bi-calendar4-week"></i>

        <i class="bi bi-clock"></i>
        <i class="bi bi-clock-fill"></i>
        <i class="bi bi-watch"></i>

        <br>
        Location: <br>
        <i class="bi bi-building"></i>
        <i class="bi bi-compass"></i>
        <i class="bi bi-compass-fill"></i>
        <i class="bi bi-geo"></i>
        <i class="bi bi-geo-fill"></i>
        <i class="bi bi-geo-alt"></i>
        <i class="bi bi-geo-alt-fill"></i>
        <i class="bi bi-globe"></i>
        <i class="bi bi-globe2"></i>
        <i class="bi bi-house"></i>
        <i class="bi bi-house-fill "></i>
        <i class="bi bi-house-door"></i>
        <i class="bi bi-house-door-fill "></i>
        <i class="bi bi-tree"></i>
        <i class="bi bi-tree-fill"></i>

        <br>
        Controls: <br>
        <i class="bi bi-backspace-fill"></i>
        
        <i class="bi bi-funnel"></i>
        <i class="bi bi-funnel-fill"></i>
        <i class="bi bi-hash"></i>
        <i class="bi bi-heart"></i>
        <i class="bi bi-heart-fill"></i>
        <i class="bi bi-link"></i>
        <i class="bi bi-link-45deg"></i>
        <i class="bi bi-toggle-on"></i>
        <i class="bi bi-toggle-off"></i>
        <i class="bi bi-toggle2-on"></i>
        <i class="bi bi-toggle2-off"></i>
        <i class="bi bi-three-dots"></i>
        <i class="bi bi-three-dots-vertical"></i>
        <i class="bi bi-tag"></i>
        <i class="bi bi-tag-fill"></i>
        <i class="bi bi-paperclip"></i>

        <br>
        Profile: <br>
        <i class="bi bi-at"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-google"></i>
        <i class="bi bi-envelope"></i>
        <i class="bi bi-envelope-fill"></i>

        <br>
        Other: <br>
        <i class="bi bi-chat"></i>
        <i class="bi bi-chat-dots"></i>
        <i class="bi bi-circle"></i>
        <i class="bi bi-glasses"></i>

    <br>
        <i class="bi bi-box"></i>
        
        <i class="bi bi-grid-3x2"></i>
        <i class="bi bi-grid-3x3"></i>

        <i class="bi bi-grid"></i>
        <i class="bi bi-grid-3x2-gap"></i>
        <i class="bi bi-grid-3x3-gap"></i>

        <i class="bi bi-grid-fill"></i>
        <i class="bi bi-grid-3x2-gap-fill"></i>
        <i class="bi bi-grid-3x3-gap-fill"></i>
        
    <br>
        <i class="bi bi-card-image"></i>
        <i class="bi bi-image"></i>
        <i class="bi bi-image-alt"></i>
        <i class="bi bi-image-fill"></i>
        <i class="bi bi-images"></i>
        
    <br>
    <i class="bi bi-newspaper"></i>
        <i class="bi bi-journal"></i>
        <i class="bi bi-journal-text"></i>
        <i class="bi bi-book"></i>
        <i class="bi bi-list"></i>
        <i class="bi bi-list-check"></i>
        <i class="bi bi-list-nested"></i>
        <i class="bi bi-list-task"></i>
        <i class="bi bi-list-ul"></i>
        <i class="bi bi-card-list"></i>
        <i class="bi bi-card-text"></i>
    <br>
        <i class="bi bi-key"></i>
        <i class="bi bi-key-fill"></i>
        <i class="bi bi-lock"></i>
        <i class="bi bi-lock-fill"></i>
    <br>
        <i class="bi bi-map"></i>
        <i class="bi bi-map-fill"></i>

        
        <i class="bi bi-binoculars"></i>
        <i class="bi bi-lightbulb"></i>
        <i class="bi bi-lightbulb-fill"></i>

    </h3>
</div> -->
