
<h3>New Item/ Add Item to Archive</h3>
<hr>
<button>
    Add Item
</button>


<div class="panel">
    <h4>Finds</h4>
    <ul>
        <li>material</li>
        <li>type</li>
        <li>approx. age(default=unverified)</li>
        <li>color</li>
        <li>size</li>
        <li>weight</li>
        <li>photos</li>
        <li>deescription</li>
            <ul>
                <li>how it was found</li>
                <li>what it looks like</li>
            </ul>
        <li>logos/ keywords</li>
        <li>shape</li>
    </ul>
</div>

<h3>Materials</h3>
<ul>
    <li>Metal</li>
    <!-- Types:
        gold
        silver
        copper
        brass
        bronze
        steel
        iron 
        lead 
        pewter 
        nickel 
        silverplate 
        tin 
        aluminum
        unknown -->

        <!-- [spoon, jewelry, lead figure, button, suspender clasp, coin, 
        harmonica reed, letter press piece, bullet, squeeze top, chain, 
        gear, lead sinker, decorative metal, pin, safety pin, cufflink, 
        key, fishing hook, buckle, key hole, lock, nail, screw, handle, 
        zipper-pull, lead tag] -->

    <li>Glass (Colors: Clear, Aqua, Lavander, Green, Blue, Brown)</li>
        <ul>
            <li>Marble</li>
            <li>Bottle Stopper</li>
            <li>Mason jar lid-liner</li>
            <li>Bottle</li>
            <li>Glass Shard</li>
        </ul>
    <li>Ceramic</li>
        <ul>
            <li>Porcelain</li>
            <li>Terra Cotta</li>
            <li>Stoneware</li>
            <li>Earthenware</li>
        </ul>
    <li>Stone</li>
    <li>Plastic</li>
    <li>Organic</li>
</ul>